{
  "extends": "@braisc",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": [1, { "ignoreFunctionalComponents": true }]
  }
}
